.search {
  width: 100%;
  padding: 4rem 0;
}

.search .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  padding: 0 1rem;
}
.search .container .left h2 {
  margin-bottom: 0.25rem;
  color: #555;
}
.search .container .left p {
  text-align: justify;
  padding-right: 2rem;
  line-height: 1.5;
}

.search-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}
.text {
  text-align: center !important;
  padding: 0 !important;
}
.search .box {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.promo {
  width: 100%;
  margin: 0.4rem 0;
  margin-bottom: 2rem;
  border: 1px solid #333;
  text-align: center;
}

.promo h4 {
  font-size: 1.6rem;
  color: var(--dark);
}

.promo .timer {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.promo .offers {
  background: #333;
  color: #fff;
  padding: 0.7rem 0;
}

.search form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.input-wrap {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.search input,
select {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.search .date {
  display: flex;
}

.search button {
  margin: 0.4rem;
}

@media screen and (max-width: 940px) {
  .search .container {
    grid-template-columns: 1fr;
  }
  .search-col-2 {
    grid-template-columns: 1fr;
  }
  .search .container .left h2 {
    text-align: center;
  }
  .search .container .left p {
    text-align: center;
    padding-right: 0;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  .box h3 {
    text-align: center;
  }
  .box p {
    text-align: center;
  }
  .search .right {
    max-width: 100%;
  }

  .search form {
    width: 100%;
  }

  .search .date {
    flex-direction: column;
  }
}
